{% extends 'base.html' %}

{% block title %}Add a Pet{% endblock %}

{% block content %}

<h1 class="display-1">Add a Pet</h1>
<br>

<form id="add-pet-form" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label(class_='col-form-label') }}
            {{ field (class_='form-control')}}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>

    {% endfor %}

    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-primary" href="/">Cancel</a>

</form>


{% endblock %}