{% extends 'base.html' %}

{% block title %}{{pet.name}}{% endblock %}

{% block content %}

<h1 class="display-1">{{pet.name}}</h1>

<br>

<div class="col-4">
    <img src={{pet.image_url()}}  class="img-thumbnail" alt={{pet.name}}>
</div>

<br>

<form id="edit-pet-form" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
        
            {{ field.label(class_='col-form-label') }}

            <!-- Had some trouble rendering boolean WTF field (checkbox) with Bootstrap form-control class, so this is the workaround -->
            {% if field.id == 'available' %}
                {{ field }}
            {% else %}
                {{ field (class_='form-control')}}
            {% endif %}

            {% for error in field.errors %}
                <b class='text-danger'>{{ error }}</b>
            {% endfor %}
      

    {% endfor %}
    <br>
    <br>

    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-secondary" href="/">Cancel</a>

</form>

{% endblock %}