{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="display-1">Adopt a Pet</h1>
<br>

<div class="container">
    <div class="row">

    {% for pet in pets %}
    
        <div class="col-4">

            <a href="/{{pet.id}}"><img src={{pet.photo_url}} class="img-thumbnail" alt={{pet.name}}></a>

            <h2><a href="/{{pet.id}}">{{ pet.name }}</a></h2>

            {% if pet.available %}
                <p class="text-success font-weight-bold">Available</p>
            {% else %}
                <p class="text-danger font-weight-bold">Not Available</p>
            {% endif %}
            
        </div>
    {% endfor %}
    </div>
</div>
<br>
<a class="btn btn-primary" href="/add">Add a Pet</a>

{% endblock %}